html{
    font-style: unset;
    font-weight: 800;
}
.box{
    border: 1px solid #999;
    padding-left:2rem;
}
ul{
    margin: 0;
    margin-bottom:1rem;
    padding:0;
}
li{
    list-style-type:none;
}